@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

:root {
  --font: "Work Sans", sans-serif;
  --color1: #685252;
  --color2: #fcf7ed;
  --color3: #fff;
  --color4: #000;
  --color5: #4e555d;
}
/*Style set for all selectors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font);
}
body {
  background-color: var(--color3);
}
header {
  background-image: url(cafe_img/bakes.jpg);
  height: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.9;
}
/*Flexbox display set to ul container, li as children elements*/
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-content: center;
}
nav ul li {
  margin: 2em;
}
nav ul li a {
  color: var(--color3);
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}

.cafe h1 {
  text-align: center;
  padding: 1em;
  color: var(--color1);
}
.cafe p {
  text-align: center;
  width: 95%;
  margin: 0 auto 2em;
}
.menu-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.item {
  height: 15em;
  width: 30%;
  min-width: 25em;
  background-color: var(--color2);
  padding: 1em;
  margin: 2em auto;
  display: flex;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.4em;
  justify-content: center;
}
.item img {
  height: 13em;
  width: 45%;
  border-radius: 0.4em;
  background-size: cover;
}
.caption {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  margin: 3em auto 1em;
  width: 100%;
}
footer p {
  padding: 0.4em;
}
footer p a {
  color: var(--color1);
}

@media screen and (max-width: 399px) {
  .menu-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  .item {
    height: 15em;
    width: 20%;
    /*min-width: 25em;*/
    padding: 1em;
    margin: 2em auto;
    display: flex;
    justify-content: center;
  }
}

