@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

:root {
  --font: "Work Sans", sans-serif;
  --color1: #685252;  /*Brown*/
  --color2: #fcf7ed;  /*beige*/
  --color3: #fff;     /*white*/
  --color4: #000;     /*black*/
  --color5: #4e555d;  /*grey*/
}
/*Style set for all selectors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font);
}
body {
  background-color: var(--color3);
}
header {
  background-image: url(cafe_img/cafe1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/*Flexbox display set to ul container, li as children elements*/
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
nav ul li {
  margin: 2em;
}
nav ul li a {
  color: var(--color3);
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}

/*Styleset for title div consisting of heading1 and para*/
.title {
  color: var(--color3);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 5em;
  padding-bottom: 1rem;
}
.title p {
  width: 80%;
}

/*Features card, with .features as parent element to the .feature-card children elements*/
.features {
  width: 65%;
  margin: 4em auto 4em;
}
.feature-card {
  text-align: center;
  margin: 1em 0;
  background-color: var(--color2);
  border-radius: 0.2em;
  border-left: 7px solid var(--color1);
  padding: 1em;
  min-width: 250px;
}
.feature-card > p {
  color: var(--color5);
}

.location {
  width: 90%;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.location-card {
  background-color: var(--color2);
  text-align: justify;
  width: 18em;
  height: 26em;
  margin: 1em 2em;
  padding: 1.4em;
  border-radius: 0.4em;
  color: var(--color5);
  border-left: 6px solid var(--color1);
}
.location-card img {
  background-size: cover;
  height: 14em;
  width: 18em;
  border-radius: 0.6em;
  opacity: 0.8;
}
.location-section > h1 {
  text-align: center;
}

footer {
  text-align: center;
  margin: 3em auto 1em;
  width: 100%;
}
footer p {
  padding: 0.4em;
}
footer p a {
  color: var(--color1);
}
