@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

:root {
  --font: "Work Sans", sans-serif;
  --color1: #f28482;
  --color2: #faedcd;
  --color3: #fff;
  --color4: #000;
}
/*Style set for all selectors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font);
}
body {
  background-color: var(--color3);
}
header {
  background-image: url(cafe_img/cafe1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
nav ul li {
  margin: 2em;
}
nav ul li a {
  color: var(--color3);
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
.title {
  color: var(--color3);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 5em;
  padding-bottom: 1rem;
}
.title p {
  width: 80%;
}

.coffee-beans {
  margin: 5em auto;
  grid-template-columns: 20em;
  grid-template-rows: repeat(3, 10%);
  gap: 1em / 1em;
}
.bean {
  background-color: var(--color3);
  margin: 2em 10em;
}
.bean figure img {
  height: 20em;
  width: 20em;
}

footer {
  color: var(--color4);
  text-align: center;
  padding: 2em;
  height: 4em;
  width: 100%;
}
